PORT=8000
WEBSOCKET_ENDPOINT_ID=MessagingWebSocket
DID_METHOD=did:quarkid
WEBSOCKET_ENDPOINT_URL=https://9ea2-181-170-186-79.ngrok-free.app

# SSI Integration
MODENA_URL=https://proxyquarkid.extrimian.com
DWN_URL=https://dwn-hml.gcba.gob.ar

# MongoDB Configuration
MONGO_URI=

# Vault Configuration
VAULT_URL=http://localhost:8200
VAULT_ROLE_ID=your-role-id
VAULT_SECRET_ID=your-secret-id

# Security
TOKEN_SECRET=your-token-secret
NODE_ENV=development

# Webhooks
TEST_WEBHOOK_URL=
PROD_WEBHOOK_URL=